pipeline/Healthcare_Management_Project.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "CHECK_ALL_FILES_AVAILABLE",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SFTP_GMD_FILES_LIST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(length(activity('SFTP_GMD_FILES_LIST').output.childItems),4)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Web3",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": []
						}
					],
					"ifTrueActivities": [
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"scripts": [],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "ITERATE_EACH_FILE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "CHECK_ALL_FILES_AVAILABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "FILENAME",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": []
						},
						{
							"name": "VERIFY FILE NAME",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "FILENAME",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"ifTrueActivities": [
									{
										"name": "SFTP_TO_ADLS",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"enableStaging": false
										}
									},
									{
										"name": "TABLE_NAME",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "SFTP_TO_ADLS",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": []
									},
									{
										"name": "ADLS_TO_ASQLDB_STAGE_TBL",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "TABLE_NAME",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"enableStaging": false
										}
									},
									{
										"name": "ADLS_TO_ARCHIVE",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "ADLS_TO_ASQLDB_STAGE_TBL",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"enableStaging": false
										}
									},
									{
										"name": "MERGE_STAGE_TBL_TARGET_TBL__TRFERENCE_TBL",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "ADLS_TO_ARCHIVE",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": []
									},
									{
										"name": "SAVE LOGS",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "MERGE_STAGE_TBL_TARGET_TBL__TRFERENCE_TBL",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": []
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "DELETE_ALL_SFTP_FILES",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "ITERATE_EACH_FILE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableLogging": true
				}
			},
			{
				"name": "DELETE_ALL_ADLS_RAW_FILES",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "DELETE_ALL_SFTP_FILES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableLogging": true
				}
			},
			{
				"name": "SUCCESS_MAIL",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "DELETE_ALL_ADLS_RAW_FILES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			},
			{
				"name": "FAIL_MAIL",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SFTP_GMD_FILES_LIST",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "CHECK_ALL_FILES_AVAILABLE",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "ITERATE_EACH_FILE",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "DELETE_ALL_SFTP_FILES",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "DELETE_ALL_ADLS_RAW_FILES",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			},
			{
				"name": "SFTP_GMD_FILES_LIST",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GMD_SFTP_TO_ADLS",
						"type": "DatasetReference"
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"variables": {
			"FILE_NAME": {
				"type": "String"
			},
			"TABLE_NAME": {
				"type": "String"
			}
		},
		"annotations": []
	}
}